<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" 
		xmlns:gap="http://phonegap.com/ns/1.0"
		id="com.vivit.worldwide.vivit.mobile.test"
		version="1.0.0">
    <name>VivitMobileTest</name>
    <description>Test App for the Vivit Mobile App</description>
    <author email="markdmia@gmail.com" href="http://vivit-worldwide.org">Mark Ford</author>
    <icon src="www/platforms/android/icon/vivit_logo_hdpi.png" />
    <content src="index.html" />
    <access origin="*" />

	<platform name="android" />
	<platform name="ios" />
	
	<preference name="android-targetSdkVersion" value="19"/>

    <plugin name="cordova-plugin-inappbrowser" spec="https://github.com/apache/cordova-plugin-inappbrowser" />
</widget>
