<!--
/**********************************************************************************
 *                       - M E F   A p p l i c a t i o n s -
 *
 * vivitMobile.css (VivitMobileTest)
 *---------------------------------------------------------------------------------
 * Written by: Mark Ford / 02-05-2017
 *
 * Style definitions for the application.
 **********************************************************************************/
-->

.ui-panel-inner {
	padding: 0 !important;
}

a {
	color: white;
	text-decoration: none;
}

.mainHeader {
	height: 66px;
	background-color: white;	
}

.mainPanel {
	background-color: #518bc9;
}

.mainPanelBlock {
	width: 100%;
	height: 40px;
	padding-top: 12px;
	text-align: center;
	color: white;
}

.mainPanelBullet {
	color: yellow;
}

.mainPanelBlackLine {
	position: relative;
	left: 15px;
	width: 85%;
	height: 1px;
	background-color: black;
}

.mainPanelGreyLine {
	position: relative;
	left: 15px;
	width: 85%;
	height: 1px;
	background-color: grey;
}

.mainPanelSocialMedia {
	padding: 15px;
	display: flex;
	justify-content: center;
}

.mainPanelVersion {
	padding: 15px; 
	font-size: 8pt;
}